<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated drivingBehaviourMetamodel -->
      <package
            uri="http://www.example.org/intelligentMobility"
            class="intelligentMobility.IntelligentMobilityPackage"
            genModel="model/drivingBehaviourMetamodel.genmodel"/>
   </extension>

</plugin>
